
packages/contracts/.DS_Store
packages/contracts/devchain/keys
*node_modules
**/yarn-error.log

packages/bridge-ui/.next
packages/deployer/yarn-error.log
**/yarn.lock
packages/contracts/.0x-artifacts
packages/multichain/db
yarn-error.log
yarn.lock
